button {
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
    outline: none;
    font-family: SFUIText;

}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-button {
    padding: 17px 31px 16px;
    border-radius: 36px;
    border: solid 3px;
    background-color: inherit;
    width: max-content;
}

.button-large {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}


.button-white {
    color: var(--white-two);
}

.button-pink {
    color: var(--pink);
}