.data-form {
    display: inline-flex;
    align-items: center;
}

.label {
    font-size: 13px;
    color: var(--warm-grey);
}


.input {
    border-radius: 11px;
    border: solid 1px var(--warm-grey);
    background-color: var(--white-two);
    outline: none;
    width: 100px;
    height: 31px;
    margin-right: 45px;
    margin-left: 15px;
}


.filter {
    height: 60px;
    display: flex;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
}


@media (max-width: 576px) {
    .filter {
        justify-content: space-around;
    }

    .input {
        width: 72px;
        margin-right: 0;
    }
}