.message {
    color: var(--text-light);
    font-size: 24px;
    line-height: 1.21;
    font-weight: normal;
}

.message-empty-space {
    margin-top: 45px;
}

.empty-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;

    top: 34.5%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20.6%;
}


@media (max-width: 576px) {
    .message-empty-space {
        margin-top: 30px;
    }

    .empty-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;

        top: 32.5%;
        bottom: 10.6%;
    }

}