.create-container {
    width: 503px;
    height: 379px;
    padding: 24px 27px 47px;
    border-radius: 44px;
    background-color: var(--primary);
    box-sizing: border-box;
    margin: 11.5% auto 0;
}


.create-form {
    margin-top: 50px;
    padding: 0 62px 0;
    display: flex;
    flex-direction: column;
}

.create-form > button {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 25px;
    display: flex;
}

.form-group-input {
    border-radius: 7px;
    border: solid 1px var(--warm-grey);
    background-color: var(--white-two);
    height: 31px;
    flex-grow: 1;
}

.form-group-label {
    min-width: 71px;
    display: inline-block;
    font-size: 16px;
    padding: 6px 16px 6px 0;
}

@media (max-width: 576px) {
    .create-container {
        width: auto;
        padding: 19px 21px 37px;
        border-radius: 29px;
        position: absolute;
        top: 23.8%;
        bottom: 19.2%;
        left: 9.1%;
        right: 9.1%;
        margin: 0;
    }

    .create-form {
        margin-top: 26px;
        padding: 0 14px 0;
    }

    .form-group {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .form-group-label {
        padding-top: 0;
        padding-left: 3px;
        font-size: 13px;
    }

    .form-group-input {
        height: 28px;
    }

    .create-form > button {
        margin-top: 9%;
    }
}